
h1{
    margin-top: 100%;
    font-weight:bolder;
    font-size: x-large;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
  }
  
  li {
    float: right
  }
  
  li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-direction: row-reverse;
  }
  
  li a:hover {
    background-color: darkkhaki;
  }

  .wrapper{
display: flex;

  }

  .title{
    margin-right:10%;
    flex-basis: 7%;
    border-right:solid;
    

  }

  .content{
    flex-basis: 60%;
    flex-wrap: wrap;
    display: flex;


  }

  .my-work{
flex: content;
flex-basis: 89%;
width: 500px;
margin: auto;
border: 3px solid black;
border-radius: 100px  ;

  }

  #big-work{
    width: 1550px;
  margin: auto;
    flex-basis: 300%;
    height: 100px;
  }

  img {
  opacity: 5.0;
}

img:hover {
  opacity: 0.5;
}
#grad {
    background-image: linear-gradient(to left, rgb(255, 217, 0), rgba(0, 255, 242, 0.363));
  }