/* font size for header */
header .h1 {
  font-size: 800px;
}

/* header list content */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aquamarine;
}
/* formatting stlye for header list */
li {
  float: right;
}

/* content for header */
li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-direction: row-reverse;
}
/* color change property for header list */
li a:hover {
  background-color: darkkhaki;
}

/* formatting for the aside section */
.wrapper {
  display: flex;
}

/* List for aside text */
.title {
  margin-right: 10%;
  flex-basis: 7%;
  border-right: solid;
}

/* formatting for images. Size, border, and margin */
.my-work {
  flex: content;
  flex-basis: 89%;
  width: 500px;
  margin: auto;
  border: 3px solid black;
}

/* additional formatting for images and text */
.content {
  flex-basis: 60%;
  flex-wrap: wrap;
  display: flex;
}
/* Font for 'About Me' section. Includes a san-serif option*/
p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}

/* Rounds the edges of the images */
.my-work {
  border-radius: 100px;
}

/* Makes images opaque and when hover hover less opaque*/
img {
  opacity: 5;
}

img:hover {
  opacity: 0.5;
}
/* Creates a gradient backgrounf */
#grad {
  background-image: linear-gradient(
    to left,
    rgb(255, 217, 0),
    rgba(0, 255, 242, 0.363)
  );
}
