
header{
    margin-top: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  
  li {
    float: right
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-direction: row-reverse;
  }
  
  li a:hover {
    background-color: #111;
  }

  .wrapper{
display: flex;

  }

  .title{
    margin-right:10%;
    flex-basis: 7%;
    border-right:solid;
    

  }

  .content{
    flex-basis: 60%;
    flex-wrap: wrap;
    display: flex;


  }

  .my-work{
flex: content;
flex-basis: 89%;
width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
border-radius: 100px ;

  }

  #big-work{
    width: 1550px;
  margin: auto;
    flex-basis: 300%;
    height: 100px;
  }
    