
header

header{ display:inline;
    text-align: right;
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}
nav{
    display: inline-block;
    text-align: row;
}

img{display: block;
max-width: fit-content;}

 .grid-container {
    display: grid;
   grid: 150px /auto auto auto ;
}
